<div id="toolbar-container">
  <mat-toolbar>
    <span>Pixy Range😄</span>
    <span class="example-spacer"></span>
    <button mat-icon-button style="color: black;" [matMenuTriggerFor]="git">
      <i class="bi bi-github"></i>
    </button>
    <mat-menu #git="matMenu">
      <a href="https://github.com/brunoliratm/PixyRange">
        <button mat-menu-item>
          <mat-icon><i class="bi bi-git"></i></mat-icon>
          <span>Version 1.0.0</span>
        </button>
      </a>
      <a href="https://github.com/brunoliratm">
        <button mat-menu-item title="Feito com todo amor para minha querida Maria Iasmin">
          <mat-icon>person</mat-icon>
          <span>Dev BrunoMagno</span>
        </button>
      </a>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleDarkMode()">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
        <span>Dark Mode</span>
      </button>
      <button mat-menu-item (click)="toggleLanguage()">
        <mat-icon>translate</mat-icon>
        <span>Language: {{ language }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <div id="description-container">
    <p class="description-text">Pixy Range is an Angular web application that calculates the distance of objects in images based on the object's actual size, its size in the image, and the camera's focal length. Ideal for photographers, developers and enthusiasts, it simplifies calculating distances accurately and intuitively. </p>
  </div>
  <div id="main-container">
    <div id="leftside-container">
      <app-calculadora-distancia [language]="language"></app-calculadora-distancia>
    </div>
  
    <div id="rightside-container">
      <app-image-selection [language]="language"></app-image-selection>
    </div>
  </div>
</div>




