<div id="toolbar-container">
  <mat-toolbar>
    <span>
      <img src="https://readme-typing-svg.demolab.com/?font=Fira+Code&weight=600&size=40&pause=100&color=5f6368&center=true&repeat=false&vCenter=true&lines=Pixy+Range😄" alt="Typing SVG">
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dark_mode</mat-icon>
        <span>Dark Mode</span>
      </button>
      <button mat-menu-item>
        <mat-icon>translate</mat-icon>
        <span>Language</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>

<div id="main-container">
  <div id="leftside-container">
        
        <app-calculadora-distancia></app-calculadora-distancia>
  </div>

  <div id="rightside-container">
    <app-image-selection></app-image-selection>
  </div>
</div>
