
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e3f2fd;
}

.dark-mode {
  body {
    background-color: black;
    color: white
  }

  #toolbar-container {
    mat-toolbar {
      background-color: black;
      color: white;
    }
  }

  #main-container {
    background-color: black;
  }
}
